    <footer class="mt-auto text-light" style="background-color: #343a40;">
      <ul class="nav justify-content-center border-bottom py-2">
        <li class="nav-item">
          <a href="/" class="nav-link px-2 text-light">Home</a>
        </li>
        <!-- <li class="nav-item"> -->
        <!--   <a href="/staff" class="nav-link px-2 text-light">Staff</a> -->
        <!-- </li> -->
        <li class="nav-item">
          <a href="/rules" class="nav-link px-2 text-light">Rules</a>
        </li>
        <li class="nav-item">
          <a href="/info" class="nav-link px-2 text-light">Info</a>
        </li>
        <li class="nav-item">
          <a href="/leaderboard" class="nav-link px-2 text-light">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a href="/saran" class="nav-link px-2 text-light">Saran</a>
        </li>
      </ul>
      <p class="text-center py-3 m-0">
        &copy; 2023 Intergalactic Science Kingdom
      </p>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/reveal.js"></script>
  </body>
</html>
