    <footer class="mt-auto text-light">
      <p class="text-center py-3 m-0">
        &copy; 2023 Intergalactic Science Kingdom
      </p>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/reveal.js"></script>
  </body>
</html>
