<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="icon" type="image/gif" href="LogoISK.gif">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<header class="bg-dark " style=" margin-bottom: 10px; padding: 0px; position: sticky; position: -webkit-sticky; z-index: 1; width: inherit;
  top: 0;">
  <nav class="bg-dark navbar navbar-expand-lg text-white ">
    <div class="container-fluid">
      <img src="LogoISK.gif" alt="Logo" width="30" height="30" style="margin-right: 10px;"
        class="d-inline-block align-text-top">
      <h3 style="margin-right: 10px;">Intergalatic Science Kingdom</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-dark"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="border border-success btn btn-success nav-link text-white" style="margin-right: 10px;"
              href="https://discord.gg/fajrulfx">Join Now!</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Go To
            </a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item text-white dr" href="#Rules">Rules</a></li>
              <li><a class="dropdown-item text-white" href="#Roles">Roles</a></li>
              <li><a class="dropdown-item text-white" href="#Channel">Channel</a></li>
              <li>
                <a class="dropdown-item text-white mb-0"
                  href="https://intergalacticsciencekingdom-lightmode.danurwendafaran.repl.co/">Light Mode</a>
              </li>
              <li>
                <a class="dropdown-item text-white mb-0"
                  href="https://intergalacticsciencekingdom.mfathinhalim.repl.co/">Bahasa Indonesia</a>
              </li>
              <li>
                <hr class="dropdown-divider text-white border-white">
              </li>
              <li>
                <a class="dropdown-item text-white" href="https://lurkr.gg/levels/1054414599945998416">ISK Leaderboard
                </a>
              </li>
              <li><a class="border border-success dropdown-item text-white " href="#https://discord.gg/fajrulfx">Join
                  Now!</a></li>

          </li>


      </div>
    </div>
  </nav>

</header>
<style>
  li {
    text-decoration: none;
    margin-left: 0;
    list-style-type: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }

  a {
    color: deepskyblue;
    text-decoration: none;
  }
</style>

<body class="text-white" style=" margin: 10px; background-color: #35393e;  text-align: center;">
  <div class="card m-1 text-white bg-dark" style="text-align: center;padding: 20px;">
    <h4>About</h4>
    <p>Intergalatic Science Kingdom is a Discord server where we can chat, find new friends,
      study together and a lot of things on the server!</p>
    <p>This server is intended as a forum for interaction, where you can send science memes, fanart, chat
      with Fajrul and other friends, and discuss certain topics.</p>
    <p>This server was founded by <a href="https://fajrul.blog/">Fajrul Falah, an educator and communicator
        Indonesian science</a> and friends on July 24, 2021 </p>
    <p>In addition, this server has interesting <a href="#Roles">Roles</a> and <a href="#Channel">channel</a>
      as well as events and active members!</p>
    <a href="https://discord.gg/fajrulfx" class="btn btn-outline-success">Click here to Join!</a>
  </div>

  <div id="Rules" class="card m-1 text-white bg-dark" style=" margin: 10px; padding: 10px; text-align: center;">
    <article class="card m-1 text-white" style=" padding: 10px; background-color: #35393e;">
      <h4>🪧 ISK Server Rules</h4>
      <p>
        1. Be kind to all members<br>
        2. Family friendly (use polite language, don't be toxic, don't have discussions about adult matters). This matter
        also includes nickname, profile picture, and about me.<br>
        3. Chill. Avoid political topics, hate speech, and SARA.<br>
        4. Use the channel according to the description<br>
        5. Don't spam and promote. Promotion can only be done on the chat channel that has been provided.<br>
        6. Do not tag Fajrul, staff, or members without any need<br>
        Each violation will receive a penalty in the form of a mute, kick, or ban. For forms of violation that have not
        stated in the regulations, it will be determined by the staff<br>
      </p>
    </article>

    <article class="card m-1 text-white" style=" margin: 10px; padding: 10px;background-color: #35393e;">
      <h4>⚖️ Sanctions for Violation of Regulations</h4>
      <article class="card m-1 bg-dark text-white" style=" margin: 10px; padding: 10px;">
        <h4>User Profile Violation<br></h4>
        <p>1. NSFW = Tire<br>
          2. Makar = Warn & Kick<br>
          3. Rough words = Warn & Kick<br>
          4. Ambiguous = Warn & Kick</p>

      </article>
      <article class="card m-1 bg-dark text-white" style=" margin: 10px; padding: 10px;">
        <h4>Text Chat Violation</h4>
        <p>1. Raid & Rebel = Ban<br>
          2. NSFW chat = Ban<br>
          4. Phishing = Ban<br>
          5. Racism = Warn & kick<br>
          6. Spam = Warn & Mute<br>
          7. Rude & Ambiguous = Warn, mute & ban (if continued)<br></p>

      </article>
      <article class="card m-1 bg-dark text-white" style=" margin: 10px; padding: 10px;">
        <h4>Meme & Media Violation</h4>
        <p>1. NSFW = Tire<br>
          2. Makar = Warn & Kick<br>
          3. Rough word = Warn<br>
          4. Ambiguous = Warn<br></p>

      </article>
      <p>All violations of UTI rules, both written and unwritten, will be punished accordingly
        </p>
    </article>


    </p>
  </div>
  <div id="Roles" class="card m-1 text-white bg-dark" style="text-align: center;">
    <h3>Roles discord on ISK: </h3>

    <article class="card m-1 text-white" style=" padding: 10px;margin: 10px; background-color: #35393e;">
      <p>🛠️ ADMIN ROLE</p>
      <li><strong style="color: #ffffff">@Higgs Boson</strong> - Server owner</li>
      <li><strong style="color: #9165de">@Neuron</strong> - Education staff</li>
      <li><strong style="color: #46beff">@Space Force</strong> - Moderation staff</li>
    </article>


    <article class="card m-1 text-white" style=" padding: 10px;margin: 10px; background-color: #35393e;">
      <p>🔗 LINKED ROLE</p>
      <p>Extra feature of leveling and color custom roles. <br>
        Check the channel in the system category to make a claim.</p>

      <li><strong style="color: #f47fff">@Astronaut</strong> - Server booster</li>
      <li><strong style="color: #53E4AF">@Investor</strong> - saweria donor > IDR 20k</li>
      <li><strong style="color: #D4355D">@Member-X</strong> - Youtube Membership</li>

    </article>


    <article class="card m-1 text-white" style="background-color: #35393e;">
      <p>🎁 REWARD ROLE</p>
      <li><strong style="color: #6F8CD6">@Intellect</strong> - Members who actively help in the discussion channel</li>
      <li><strong style="color: #fe6c00">@Meme Professor</strong> - Member with great science meme posts</li>
      <li><strong style="color: #C77A47">@Meme Scientist</strong> - Member who often sends science memes</li>
      <li><strong style="color: #A9FFDF">@Art Scientist</strong> - Member who often sends fanart</li>
    </article>
   
     
    <article class="card m-1 text-white" style="background-color: #35393e;">
      <p>👨 DEFAULT ROLE</p>
<li><strong style="color: #E4E2C4">@Novice</strong> - ISK verified member (default)</li> </article>


    <article class="card m-1 text-white" style="background-color: #35393e;">
      <p>📕 EDUCATION ROLE</p>

      <li><strong style="color: #328A58">@SMP, @SMA, @SMK, @College, @Work</strong> - Education level</li>
    </article>


    <article class="card m-1 text-white" style=" padding: 10px;margin: 10px; background-color: #35393e;">
      <p>🔔 NOTIFICATION ROLE</p>

      <li><strong style="color: #ea7a7b">@Youtube Notifications</strong> - Receive Youtube update notifications</li>
      <li><strong style="color: #ea7a7b">@Server Notifications</strong> - Receive server information update notifications</li>
    </article>


    <article class="card m-1 text-white" style="background-color: #35393e;">
      <h5>LEVELING</h5>
      <p>Each channel on this server has a different XP leveling value. Please do leveling accordingly
        without spamming.<br>
        Leak: The highest XP scores are in ⁠・subjects and ⁠・extracurriculars. Also on ⁠🔬・meme-science and
        ⁠🎨・fanart, where good work will get XP boost.</p>

      <li><strong style="color: #B06E35">@Rookie</strong> - Level 10: Can change name</li>
      <li><strong style="color:#7899D1">@Elite</strong> - Level 20: Can use off-server emoji and add emoji
        reaction</li>
      <li><strong style="color:#80819e">@Pro</strong> - Level 40: Can send files & embed links</li>
      <li><strong style="color:#b745b8">@Master</strong> - Level 80: Unlock threads</li>
    </article>
    </article>


  </div>
  <div id="Channel" class="card m-1 text-white bg-dark" style="text-align: center;">
    <h4>Channel that is commonly visited. </h4>


    <li>- ⁠🔬・meme-science channel memes related to science, physics, mathematics and so on.</li>
    <li>- ⁠📺・suggestions-youtube channel used to provide suggestions for YouTube content bro Fajrul Fx. </li>
    <li>- ⁠📩・suggestion-server channel used to give suggestions or criticisms on this server only.</li>
    <li>💬・general is a place for you to chat with other members, and with random/current topics
      discuss.</li>
    <li>- ⁠🌎・general-english this chat place is the same chat as General, the only difference is that the channel is special
      for English only.</li>
    <li>- ⁠🎬・This media channel is a channel for sending pictures/files, make sure it's not gore/NSFW.</li>
    <li>- ⁠🌐・webshare this channel to post a link.</li>
    <li>- ⁠🤖・bot-commands for cmd bots.</li>
    <li>- ⁠🚨・server-report channel which is given to report members who break the rules/report a bug.</li>
    <li>- ⁠🤣・memes channel public and free memes. But remember, still obey the rules!</li>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</html>