<%- include("partials/header") %>

<div class="px-4 py-5 text-center text-white">
  <img
    class="d-block mx-auto mb-4 reveal fade-bottom rounded-circle"
    src="image/LogoISK.gif"
    alt="Logo ISK"
  />
  <h1 class="display-5 fw-bold reveal fade-bottom">
    Intergalactic Science Kingdom
  </h1>
  <div class="col-lg-6 mx-auto reveal fade-bottom" style='/*@import "bootstrap/functions";@import "bootstrap/variables";@each $color, $value in $theme-colors {@if ((lightness($value)) < 60 and (hue($value)) > 45) {.bg-#{$color} {@extend .text-light}}}/ remember to import Bootstrap after the changes / @import "bootstrap";*/'>
    <p class="lead mt-2 mb-3">
      Intergalactic Science Kingdom adalah sebuah server Discord dimana kita
      dapat mengobrol, menemukan teman baru, belajar bersama dalam banyak hal!
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a
        href="https://discord.gg/fajrulfx"
        class="btn btn-outline-primary btn-lg px-4 gap-3"
      >
        Discord
      </a>
      <a
        href="https://youtube.com/@FajrulFx"
        class="btn btn-outline-danger btn-lg px-4"
      >
        Youtube
      </a>
    </div>
  </div>
</div>
<div class="px-4 py-3 m-3 rounded-4 text-center text-white bg-dark bg-opacity-75 max-1200">
  <h1 class="mb-2 fw-bold reveal fade-left">About</h1>
  <p class="reveal fade-left">
    Server ini diperuntukkan sebagai wadah interaksi, di mana kamu bisa
    mengirimkan meme sains, fanart, ngobrol dengan Fajrul dan teman-teman
    lain, serta berdiskusi untuk topik-topik tertentu.
  </p>
  <p class="reveal fade-left">
    Server ini didirikan oleh
    <a href="https://fajrul.blog/"
      >Fajrul Falah, seorang seorang pendidik dan komunikator sains
      Indonesia</a
    >
    dan kawan kawan pada 24 Juli 2021
  </p>
  <p class="reveal fade-left">
    Selain itu, di server ini terdapat Roles dan channel yang menarik
    serta event dan member yang aktif!
  </p>
</div>

<%- include("partials/footer") %>
